= simple_form_for [@review.book, @review, Comment.new] do |f|
  = f.input :title, :label => "Titel"
  = f.input :user, :label => "Benutzer"
  = f.input :body,:label => "Kommentar"
  = f.button :submit, "kommentieren"