%h1 Nach Autoren

/ - @authors.each do |author|
/   .prev_small{:onclick =>"location.href='#{author_path(author)}'"}
/     = stars_for author.rating
/     %b= link_to author.name, author
/     = "(#{author.books.size})"
/     = link_to "weiter", author, {:class => "action"}
/     
- @authors.each do |author|
  .prev{:onclick =>"location.href='#{author_path(author)}'"}
    .thumbnail= cover_for author.books[rand(author.books.size)], "thumb"
    .info
      %b= link_to author.name, author
      %br
      - author.genres.each do |genre|
        = link_to genre.title, genre
      %p
        = stars_for author.rating