-content_for :sidebar do
  = link_to 'Edit', edit_author_path(@author)

%h1
  = @author.name
  = stars_for @author.rating

%p= book_sentence_for @author

.section
  - @author.books.each do |book|
    = render :partial => book