- content_for :sidebar do
  = link_to 'Buch Bearbeiten', edit_book_path(@book)
  \|
  = link_to 'Alle Bücher', books_path
  %br
  = link_to 'Buch löschen', @book, :confirm => "#{@book.title} wirklich löschen?", :method => :delete
    
%h1= @book.title
= cover_for @book
%h3
  = link_to @book.author_name, @book.author
  = stars_for @book.ranking
%table
  %tr
    %td Veröffentlicht
    %td= @book.year
  %tr
    %td Verlag
    %td= link_to @book.publisher_name, @book.publisher
  %tr
    %td Genre
    %td= link_to @book.genre_title, @book.genre
  -if @book.location
    %tr
      %td Im Regal
      %td=link_to @book.shelf, @book.location

%p= @book.description
