- content_for :sidebar do
  = link_to 'Bewertung entfernen', book_review_path(@review.book, @review), :confirm => 'Wirklich entfernen?', :method => :delete

#top
  %h1= @review.title
  = stars_for @review.rating
  %i= @review.user
  = render :partial => @review.book
  %p= @review.body

.section
  -unless @review.comments.size == 0
    -@review.comments.each do |comment|
      .comment_show
        %i
          = comment.user
          schreibt:
        %br
        %b= comment.title
        = link_to 'entfernen', book_review_comment_path(@review.book, @review, comment), :confirm => 'Wirklich entfernen?', :method => :delete
        -unless comment.body.size == 0
          %p= comment.body
  -else
    %p{:class => "empty"}
      Kein Kommentar zu dieser Bewertung
      %br
      Sei der erste.
  
.section
  %h3 Bewertung kommentieren
  = render :partial => 'comments/form'