%p#notice= notice

%p
  %b User:
  = @review.user
%p
  %b Title:
  = @review.title
%p
  %b Body:
  = @review.body
%p
  %b Rating:
  = @review.rating
%p
  %b Comment:
  = @review.comment_id

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
